<div class="container p-5 mx-5 my-1">
  <h1>Movie Lists</h1>
    <%= link_to "New List", new_list_path, class: 'btn btn-secondary' %>
</div>

<div class="container p-5 mx-3">
  <div class="row justify-content-center">
    <% @lists.each do |list| %>
      <div class="card col-md-4 rounded shadow p-3 mx-2 my-2">
        <p><%=  render list %></p>
        <div class="button">
          <%= link_to "See more", list_path(list), class: 'btn btn-secondary mx-2 my-2' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
