<div class="container p-5 mx-3 my-3">
  <h1>New List</h1>
</div>

<div class="container p-5 mx-3 my-3">
  <div class="container">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
